$hamburger-btn-height: 16px;
$hamburger-btn-width: 22px;
$hamburger-btn-bar-height: 2px;
$hamburger-btn-padding: 5px;

.#{$bs-prefix}c-hamburger-btn {
	position: relative;
	display: inline-block;
	box-sizing: content-box;
	height: $hamburger-btn-height;
	width: $hamburger-btn-width;
	padding: $hamburger-btn-padding;
	cursor: pointer;

	&__bar {
		position: absolute;
		right: $hamburger-btn-padding;
		left: $hamburger-btn-padding;
		display: block;
		height: $hamburger-btn-bar-height;
		background-color: #333;
		transition: transform $bs-transition-duration, background-color $bs-transition-duration;

		&:nth-child(1) {
			top: $hamburger-btn-padding;
		}

		&:nth-child(2) {
			top: ($hamburger-btn-height / 2 - $hamburger-btn-bar-height / 2) + $hamburger-btn-padding;
		}

		&:nth-child(3) {
			top: ($hamburger-btn-height - $hamburger-btn-bar-height) + $hamburger-btn-padding;
		}

		.is-close > & {
			&:nth-child(1), &:nth-child(3) {
				top: ($hamburger-btn-height / 2 - $hamburger-btn-bar-height / 2) + $hamburger-btn-padding;
			}

			&:nth-child(1) {
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				background-color: transparent;
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}
		}
	}
}
