.c-item {
  @include bs-c-card();
  background-color: transparent;
  box-shadow: none;

  &__figure {
    position: relative;
    @include bs-c-card__figure();
    margin-bottom: ($bs-base-line-height / 2);
    background-color: #fff;
    transition: opacity $bs-transition-duration $bs-transition-function-timing;
    backface-visibility: hidden;

    @include bs-hover() {
      opacity: 0.8;
    }

    &::before {
      display: block;
      content: '';
      padding-top: 75%;
    }

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      max-width: none;
    }
  }

  &__body {
    @include bs-c-card__body();
    margin: 0;
    padding: 0;

    > :first-child {
      margin-top: 0;
    }
  }

  &__title {
    @include bs-font-size-line-height($bs-font-size);
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  &__content {
    margin: 0;
    padding: 0;
  }
}
