//
// <ul class="_c-menu _c-menu--bar _c-menu--auto">
//     <li class="_c-menu__item"><a href="#">menu 1</a></li>
//     <li class="_c-menu__item"><a href="#">menu 2</a></li>
//     <li class="_c-menu__item" aria-haspopup="true" aria-expanded="false">
//         <a href="#">menu 3</a>
//         <ul class="_c-menu__submenu">
//             <li class="_c-menu__subitem"><a href="#">menu 3</a></li>
//         </ul>
//     </li>
// </ul>
//
// import BasisMenu from './menu.js';
// new BasisMenu();
//

.#{$bs-prefix}c-menu {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	list-style: none;

	&__item {
		position: relative;
		margin: 0 0 0 $bs-base-line-height;
		padding: 0;
		display: inline;
		max-width: 100%;
		flex: 1;

		&:first-child {
			margin-left: 0;
		}

		> a {
			display: inline-block;
		}

		@include bs-hover() {
			> .#{$bs-prefix}c-menu__submenu {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&__submenu {
		position: absolute;
		top: 100%;
		left: 0;
		visibility: hidden;
		min-width: 200px;
		margin: 0;
		padding: 0;
		list-style: none;
		opacity: 0;
		transition: opacity $bs-transition-duration $bs-transition-function-timing;
	}

	&__subitem {
		position: relative;
		margin: 0;
		padding: 0;

		> a {
			display: block;
			padding: (($bs-base-line-height - $bs-between-lines) / 2) ($bs-base-line-height / 2);
			text-align: center;
			text-decoration: none;
		}

		.#{$bs-prefix}c-menu__submenu {
			top: 0;
			left: 100%;
		}

		@include bs-hover() {
			> .#{$bs-prefix}c-menu__submenu {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	&--bar {
		.#{$bs-prefix}c-menu__item {
			margin: 0;
			padding: 0;
			display: flex;

			> a {
				padding: (($bs-base-line-height * 2 - $bs-between-lines) / 2) ($bs-base-line-height / 2);
				display: flex;
				width: 100%;
				align-items: center;
				justify-content: center;
				text-align: center;
				text-decoration: none;
			}
		}
	}

	&--auto {
		.#{$bs-prefix}c-menu__item {
			flex: 0 1 auto;
		}
	}
}
