.#{$bs-prefix}l-footer {
  @include bs-margin-top(1);
  padding: ($bs-base-line-height * 2) 0 0;
  background-color: $bs-color-text;
  color: #fff;

  .p-footer-nav {
    a {
      color: $bs-color-gray;
    }
  }
}
