.p-copyright {
  @include bs-font-size-line-height(1.4rem);
  border-top: 1px solid bs-darker($bs-color-gray);
  margin: ($bs-base-line-height * 2) 0 0;
  padding: ($bs-base-line-height * 2) 0;

  a {
    color: $bs-color-gray;
  }
}
