.p-footer-nav {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0;
    padding: 0 0 ($bs-base-line-height / 2);

    a {
      text-decoration: none;
    }
  }
}
