.p-hero {
	background-image: url('../images/photo-1446769357257-5aa1b1bfcd65.jpg');
	height: 50vh;

	&, a {
		color: #fff;
	}

	@include bs-bp-lg-only() {
		height: 50vh;
		min-height: 500px;
	}

	.#{$bs-prefix}c-hero__header {
		padding: ($bs-base-line-height / 2) 0;
	}

	.#{$bs-prefix}c-hero__content {
		text-align: center;
	}

	&__title {
		display: inline-block;
		margin: 0 0 $bs-font-size;
	}
}
