//
// .c-card {
//     @include c-card();
//     &__figure {
//         @include bs-c-card__figure();
//     }
//     &__body {
//         @include bs-c-card__body();
//     }
//     &__action {
//         @include bs-c-card__action();
//     }
// }
//
// <div class="c-card">
//     <div class="c-card__figure">
//         <img ...>
//     </div>
//     <div class="c-card__body">
//         ...
//     </div>
//     <div class="c-card__action">
//         <a href="#">...</a>
//     </div>
// </div>
//

@mixin bs-c-card {
	display: flex;
	flex-direction: column;
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .1),
				0 1px 1px 0 rgba(0, 0, 0, .05);
	background-color: #fff;
}

@mixin bs-c-card__figure {
	margin: 0;
	padding: 0;
	overflow: hidden;

	> img {
		vertical-align: top;
		width: 100%;
	}
}

@mixin bs-c-card__body {
	padding: ($bs-base-line-height / 2) $bs-base-line-height;
	flex: 1 0 auto;
}

@mixin bs-c-card__action {
	border-top: 1px solid bs-lighter($bs-color-gray);
	padding: ($bs-base-line-height / 2) $bs-base-line-height;
}
